div.donate-bar {
  position: absolute;
  bottom: 0;
  display: none;
  width: 100%;

  @include query("md") {
    display: block;
  }

  ul.donate-bar__btns {
    display: flex;

    & > * {
      flex: 1;

      &:not(:first-of-type) {
        border-left: 1px solid $color_dark_red;
      }
    }

    li a {
      @extend a.btn;
      @extend a.btn--red;
    }
  }
}
