nav#nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;

  a.navbar-brand {
    height: 48px;
    width: auto;

    img {
      height: 100%;
      width: auto;
    }
  }

  div.navbar-sm {
    @include query("md") {
      display: none;
    }

    display: flex;
    flex-direction: row;

    button.navbar-toggler {
      padding: 0;
      flex: auto 0 0;
      background: $color_red;
      border: 0;
      cursor: pointer;
      touch-action: manipulation;

      i {
        display: block;
        color: $color_white;
        font-size: 3em;
      }
    }

    a.nav-btn-donate {
      display: inline-flex;
      width: 100%;
      padding: 0 1rem;
      align-items: center;
      color: $color_red;
      font-family: $font_secondary;
      font-size: 150%;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      touch-action: manipulation;
    }
  }

  div.navbar-nav-wrapper {
    @include pos(0);
    @include query("md") {
      @include pos;

      position: relative;
      display: flex;
      padding: 0;
      justify-content: initial;
      align-items: initial;
      background: transparent;
    }

    position: absolute;
    display: flex;
    padding: 1rem;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    background: $color_white;

    &.collapsed {
      display: none;
    }

    span.navbar-sm-close {
      @include pos(0, 0, auto, auto);
      @include align();
      @include query("md") {
        display: none;
      }

      position: absolute;
      width: 48px;
      height: 48px;
      cursor: pointer;

      i {
        font-size: 3em;
      }
    }

    ul.navbar-nav {
      @include query("md") {
        display: flex;
      }

      width: auto;
      height: max-content;

      li.nav-item {
        @include query("md") {
          &:not(:first-of-type) {
            margin-left: 4em;
          }
        }

        a {
          @include linkHover;

          position: relative;
          line-height: 2;
          color: $color_blue;
          font-family: $font_secondary;
          font-size: 150%;
          font-weight: 700;
          text-decoration: none;
          letter-spacing: 0.5px;
        }
      }
    }

    ul.socials-nav {
      display: none; // flex
      margin-left: 2rem;

      li.nav-item {
        &:not(:first-of-type) {
          margin-left: 2em;
        }

        a {
          color: $color_blue;
          font-size: 200%;
        }
      }
    }
  }
}
