@mixin stickyNav($top: 0px) {
  nav#top-nav {
    position: fixed;
    top: $top;
    padding: 0;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    a.site-brand {
      img.site-logo {
        height: 75%;
      }
    }

    div.nav-items {
      a.donate {
        display: flex;
      }
    }
  }
}

body.sticky-nav {
  &.admin-bar {
    @include stickyNav(32px);
  }

  @include stickyNav;
}

nav#top-nav {
  width: 100%;
  padding: 1rem 0;

  div.navbar {
    display: flex;
    margin: 0 3rem;

    & > * {
      flex: 1;
      display: flex;
      height: inherit;
      justify-content: center;
      align-items: center;
    }
  }

  a.site-brand {
    flex-basis: 15%;

    img.site-logo {
      width: auto;
      height: 100%;
      transition: height 100ms ease-in-out;
    }
  }

  div.nav-items {
    width: 100%;
    flex-basis: 85%;
    justify-content: flex-end;

    // Primary menu
    div.header-menu-container {
      ul.header-menu {
        display: flex;
        width: auto;

        li.menu-item {
          &:not(:first-of-type) {
            margin-left: 4em;
          }

          a {
            position: relative;
            line-height: 2;
            color: $color_dark_blue;
            font-family: $font_secondary;
            font-size: 150%;
            font-weight: 700;
            text-decoration: none;
            letter-spacing: 0.5px;

            @include linkHover;
          }
        }
      }
    }

    // Social Media
    ul.socials-menu {
      display: flex;
      margin-left: 4rem;

      li.socials-item {
        &:not(:first-of-type) {
          margin-left: 2em;
        }

        a {
          color: $color_dark_blue;
          font-size: 200%;
        }
      }
    }

    // Donate
    a.donate {
      position: relative;
      display: none;
      height: 100%;

      margin-left: 2rem;
      padding: 0 1rem;
      align-items: center;

      background: $color_red;
      color: $color_white;
      font-family: $font_secondary;
      font-size: 150%;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
  }
}
