div.section {
  width: 100%;
  min-height: 50vh;
  background-color: $color_white;

  // Colors
  &--blue {
    background-color: $color_blue;
  }

  &--dark_blue {
    background-color: $color_dark_blue;
  }

  &--red {
    background-color: $color_red;
  }

  // Heights
  &--25 {
    min-height: 25vh;
  }

  &--50 {
    min-height: 50vh;
  }

  &--75 {
    min-height: 75vh;
  }

  &--100 {
    min-height: 100vh;
  }
}
