body {
  font-family: $font_primary;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $color_black;
}

::selection {
  background-color: $color_blue;
  color: $color_white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font_secondary;
  font-weight: 700;
}
