@mixin query($keys...) {
  @each $key in $keys {
    @if map-has-key($map: $breakpoints, $key: $key) {
      @media screen and (min-width: map-get($map: $breakpoints, $key: $key)) {
        @content;
      }
    } @else {
      @warn "Sorry, no value could be retrieved from \'#{$key}\'. Available breakpoints are as follows: #{map-keys($map: $breakpoints)}.";
    }
  }
}

@mixin borderTopBottom($width: 1px, $style: solid, $color: transparent) {
  border-top: $width $style $color;
  border-bottom: $width $style $color;
}

@mixin align($h: center, $v: $h) {
  display: flex;
  justify-content: $h;
  align-items: $v;
}

@mixin pos($top: auto, $right: $top, $bottom: $top, $left: $right) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin linkHover {
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    background: $color_red;
    border-radius: 4px;
    transition: width 300ms ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
}
