// Colors
$color_white: #ffffff;
$color_grey: #dfe1e5;
$color_black: #212121;

$color_red: #db3349;
$color_dark_red: #c52e42;

$color_blue: #002d72;
$color_dark_blue: #001f50;

// Fonts
$font_primary: "Raleway", sans-serif;
$font_secondary: "Montserrat", sans-serif;

// Media Breakpoints
$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
) !default;

// z-index
$z_header: 999;
